@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);


@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"), url(../fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-envelope:before {
    content: "\f0e0"
}
.fa-linkedin:before {
    content: "\f0e1"
}
.fa-github-alt:before {
    content: "\f113"
}
.fa-behance:before {
    content: "\f1b4"
}
.fa-file-pdf-o:before {
    content: "\f1c1"
}
.fa-chevron-down:before {
    content: "\f078"
}

@font-face {
    font-family: devicon;
    src: url(../fonts/devicon.eot?-hdf3wh);
    src: url(../fonts/devicon.eot?#iefix-hdf3wh) format("embedded-opentype"), url(../fonts/devicon.woff?-hdf3wh) format("woff"), url(../fonts/devicon.ttf?-hdf3wh) format("truetype"), url(../fonts/devicon.svg?-hdf3wh#devicon) format("svg");
    font-weight: 400;
    font-style: normal
}

.devicon-github-original-wordmark:before,
.devicon-github-plain-wordmark:before {
    content: "\e90a"
}
.devicon-github-original-wordmark.colored,
.devicon-github-original.colored,
.devicon-github-plain-wordmark.colored,
.devicon-github-plain.colored {
    color: #181616
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: #333333;
    font-family: 'Nunito Sans', sans-serif
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1rem
}

mark {
    background-color: transparent;
}


#particles-js {

 background: #6441A5;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to bottom, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to bottom, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 display: flex;
 vertical-align: bottom;
 width: 100%;
 min-height: 100vh;
 background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed

}

#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
}

.header {
    
    text-align: center;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    top: 45%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header .site-title {
    font-size: 35px;
    display: inline;
    line-height: 3.5;
    color: papayawhip;
    border: solid springgreen 3px;
    border-radius: 10px;
    padding: 20px;
}

.header .site-description {
    font-size: 20px;
    display: block;
    line-height: 2;
    color:  papayawhip;
}
    
.header-links .link {
    color:  papayawhip;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    border: solid papayawhip 1px;
    border-radius: 10px;
    padding: 10px;
    line-height: 5;
}

.header-links :hover {
    color:#2a0845;
    background: papayawhip;
    transition: all .7s;
}

.down,
.header-icons .icon {
    color: papayawhip;
    text-align: center;
}

.header-icons .icon {
    padding: 15px;
    border-radius: 15%;
    border: 2px solid papayawhip;
    transition: all .7s;
    margin: 2px;
}

.header-icons .icon:active,
.header-icons .icon:hover {
    color: #2a0845;
    background: papayawhip;
}

.down {
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 40px;
    cursor: pointer;
}

.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: papayawhip;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

.down .icon:hover {
    color: springgreen;
}

.icons-projects {
    font-size: 2em;
}
    
.user-details {
    text-align: center;
    margin: 5px auto;
}

picture img {
    
    width: 360px;
    border-radius: 50%;
    filter: drop-shadow(5px 5px 10px #444);
    
    
}
    
    

.text {
    text-align: justify;
}

.project-link {
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    border: solid #2a0845 1px;
    color: #2a0845;
    border-radius: 10px;
    padding: 10px;
    line-height: 5;
}
    
    

.project-link:hover {
    color: papayawhip;
    background: #2a0845;
    transition: all .7s;
}

#about {
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}



.tech {
    margin: 10px
}

.user {
    text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user p {
    font-size: 16px
}



.project-h {
    padding: 40px;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto
}

.picture-project {
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}



.user-projects {
    margin: 20px auto
}

.user-projects img {
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

.user-projects h5 {
    margin: 0
}

.user-projects li {
    color: #1488CC;
    font-size: 1.1rem
}

.user-projects p {
    margin-right: 5px
}


.footer {
    background: #2a0845;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px 0;
    margin-top: 100px;
    text-align: center;
    color: #fff;
    height: 10px;
}

@media only screen and (min-width:550px) {
    .header .site-title {
        margin: 0;
        font-size: 100px
    }
}

@media only screen and (min-width:550px) {
    .header .site-description {
        font-size: 40px
    }
}

@media only screen and (min-width:550px) {
    .header-links .link {
        font-size: 20px
    }
}



@media only screen and (min-width:550px) {
    .header-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}

@media only screen and (min-width:550px) {
    #about {
        width: 80%
    }
}

@media only screen and (min-width:550px) {
    #projects {
        width: 80%
    }
}

@media only screen and (min-width:550px) {
    .user {
        flex-wrap: nowrap;
        font-size: 75px
    }
}

@media only screen and (min-width:550px) {
    .contents {
        margin-left: 0;
        width: 48%
    }

    .contents,
    .contents-right {
        margin-top: -5%
    }

    .contents-right,
    .images-right {
        float: right;
        width: 48%
    }

    .images-right img {
        float: right
    }

    .images-left {
        float: left;
        width: 48%
    }

    .images-left img {
        float: left
    }

}

@media only screen and (min-width:375px) {
    .footer  {
        padding-bottom: 60px;
    }
}




 


    








    
    





















    

  











    







































































































































































































